.footer {
  max-width: 880px;
  margin: auto;
}

.footer__copyright {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 520px) {
  .footer {
    width: 282px;
    margin: 48px auto 36px;
  }

  .footer__copyright {
    margin: 0px;
    font-size: 14px;
  }
}

@media screen and (min-width: 521px) and (max-width: 879px) {
  .footer {
    padding: 0 10px;
  }
}
